// Colors
$clr1: rgb(30, 16, 41);
$clr2: rgb(43, 34, 54);
$clr3: rgb(129, 129, 129);
$clr4: rgb(233, 233, 233);
$clr5: rgb(34, 207, 193);
$clr6: rgb(34, 34, 34);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;